.container{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sequences{
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.txt{
  width: 20em;
}

h1{
  text-align: center;
}

.answer{
  color: green;
}

table,td,th{
 border:1px solid black;
}
